.t-fs-12{
    font-size: 12px;
}
.t-fs-14{
    font-size: 14px;
}
.t-fs-16{
    font-size: 16px;
}
.t-fs-18{
    font-size: 18px;
}
.t-fs-20{
    font-size: 20px;
}
.t-fs-22{
    font-size: 22px;
}
.t-fs-24{
    font-size: 24px;
}
.t-fs-26{
    font-size: 26px;
}
.t-fs-28{
    font-size: 28px;
}

.t-fs-32{
    font-size: 32px;
}

.t-fs-34{
    font-size: 34px;
}